<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
        <div class="card-body">
            <form action="/articles/update" method="POST">
                <input class="form-control" type="text" name="title" placeholder="Defina o título a ser editado" value="<%= article.title %>"><br>
                <textarea class="form-control" rows="30" placeholder="Escreva seu artigo aqui..." name="body" id="article"><%= article.body %></textarea>

                <input type="hidden" name="id" value="<%= article.id %>">

                <button class="btn btn-success mt-3">Finalizar edição</button>
                <a href="/admin/articles/" class="btn btn-primary mt-3">Cancelar</a>
            </form>
        </div>  
    </div>
     
</div>

<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        heigth: 980,
        plugins: [
            "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"
        ]
    })

</script>