<%- include ('./partials/header.ejs') %>
<%- include ('./partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body mt-3">
                <%- article.body %>
            </div>
        </div>
        <a href="/" class="btn btn-info mt-3 mb-5">Voltar</a>
    </div>
    
</body>

<%- include ('./partials/footer.ejs') %>